#app {
  width: 100%;
  height: 100%;
}

#main {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
}

