@font-face {
  font-family: lcd;
  src: url(digital-7.mono.ttf);
}

.job-table {
  width: 100%;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.channel-table {
  width: calc(100% - 8px);
  margin-top: 8px;
  margin-bottom: 8px;
}

.counter-table {
  margin-top: 8px;
  margin-bottom: 8px;
}

.res {
  padding: 4px;
  width: 175px;
  margin-left: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
  color: black;
  background: lightgray;
  font-family: arial;
  font-weight: normal;
  font-size: 14pt;
}

.lcd {
  font-family: lcd;
  font-size: 20pt;
  font-weight: normal;
}

